@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto:ital,wght@0,500;1,500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}


body{
    background-image: url(./pzdnn.avif); 
    
}


.header{
    position:static;
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    padding: 35px 19%;
    margin: auto;
    transition: ease .30s;

}

/* .logo {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    color: white;
}  */

.navbar {
    display: flex;
    font-family:
    
}

.navbar a {
    color: white;
    padding: 10px 30px;
    font-size: 17px;
    border: 2px solid  white;
    border-radius: 5px;
    background-color: rgb(44, 101, 139); 
    text-transform: uppercase;
    font-family: Roboto, sans-serif;
    
}

.navbar #button {
    border: 1px solid  white;
    border-radius: 10px;
    background-color: rgb(44, 101, 139);
    
}


.navbar a:hover{
    font-size: 18px;
}

.start {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;

  
}

.start h1 {
    width: 400px;
    padding:  16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(44, 101, 139);
    font-size: 27px;
    border-radius: 5px;
    
    
    
}

.section {
   
    
    color: white;
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 33px;
    padding-bottom: 19px;
    
    
    
} 

   .section .box a{
    
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 50px;
    font-size: 30px;
    font-family: Roboto, sans-serif;
   
   
    
   
    
}



.section .box a:hover {
    color: rgb(29, 76, 107);
    font-size: 30px;
    transition: 0.2s; 
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(44, 101, 139);
    color: white;
    border-radius: 5px;
    /* padding: 2px 2px; */
    
}

.section-ls{
    
    width:100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 23%;
    font-size: 30px;
    color: white;
    padding-bottom: 40px;
    
   
} 


.box-lss {
    
    width: 100%;
    height: 100%; }
    /* background-color: red; */
    /* display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    
}  */ 

.section-ls h1{
    color: rgb(255, 255, 255);
    font-size: 18px;
    
   

}

.ssl .primer{
    color: white;
    border: none;
    border: 1px solid white;
    border-radius: 8px;
    background-color:  rgb(44, 101, 139);
    /* padding: 20px 10px; */
    font-size: 22px;
   
    
    
}

.section-ls p {
    color: white;
    font-size: 18px;
    font-family: Roboto, sans-serif;
   
}

/* .ssl .primer p {
    padding: 3px;
     font-family: Popins, sans-serif; 
} */
    
.ssl h1 {
    color:  rgb(44, 101, 139);
}

#ls {
   
    font-size: 25px;
    color: white;
    padding: 10px 30px;
   
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(44, 101, 139); 
    border-radius: 5px;
   
}
/* #ls:hover {
    font-size: 2px;
    color: white;
} */

.img {
    display: flex;
    align-items: center;
    justify-content: center;
   
}
