
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Oswald:wght@300;400&family=Poppins:wght@600&family=Roboto:ital,wght@0,500;1,500&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    
}

.header .hb .navbar{
  
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body {
    background-color: #266075; 
    font-family: Cabin, sans-serif;
    
}


.header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    padding: 10px 14%;
    margin: auto;
   

}

.header .hb {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}



.navbar {
    
    display: flex;
    font-family: Cabin, sans-serif;
    
}

.navbar a {
    border: 1px solid rgba(255, 255, 255, 0.7);
    box-sizing: border-box;
    border-radius: 30px;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    color: rgba(255, 255, 255, 0.7);
    padding: 10px 20px;
    margin-right: 30px;
    transition: all 0.2s;
   
    
    
}


.navbar a:hover {
    background-color: rgba(255, 255, 255, 0.7);
    color: #266075;
}



.start {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 10px;
    

  
}

.start h1 {
    font-size: 30px;
    color: rgba(255, 255, 255, 0.7);
}

 .start p {
     padding-top: 80px;
     display: flex;
    align-items: center;
    justify-content: center;
    background-color: none;
    font-size: 30px;
    font-family: Cabin, sans-serif,  !important;
    color: white; 
    
}

 .section{
   
   
    color: white;
    display: flex;
    flex-direction: initial;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 1px;
    
    
    
}  


   .section .box a{
    max-width: 1200px;
    
    
    color: rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 30px;
    font-size: 30px;
    background: none;
    
   
   
    
   
    
}



 .section .box a:hover {
    color: white;
   
    
} 

.section-ls{
   
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 140px 17%;
    font-size: 20px;
    color: white;
    
   
   
} 

#ls {
    font-size: 36px;
   color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
   


}


.section-ls .primer {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.493); 
    color: white;
   
    
   
   
    
}

 .primer p { 
    color:#266075;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 10px ; 
    padding-bottom: 10px;
    padding-left: 5px;
    

 }

.section-ls .primer-1 {
    
    width: 100%;
    background-color: rgba(255, 255, 255, 0.493);
    color: white;
}

 .primer-1 p {
    color: #266075;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 4px;
    padding-left: 10px;
    padding-bottom: 4px;

 }

.tekst {
    padding-top:30px;
   
   
}


.video{
    display: flex;
    align-items: center;
    justify-content: center;
    ;
}


.inp {
    color: rgba(255, 255, 255, 0.7);
    padding-bottom: 10px;
    padding-top: 20px;
    
}

p {
    padding-top:  10px;
    padding-bottom: 10px;
    
}

.pic {
    display: flex;
    align-items: center;
    justify-content: center;
}

